body {

	font-family: Arial;



}
 
span {
	background-color: yellow
}


a {
color: red

}
.vegi {
	color: green;
}

.non-vegi {
	color: orange; 

}

.container {

	position: relative;
	background-color: orange
}

.title {
	height: 60px;
	width: 100%

}

.sidebar {
	position: absolute;
	top: 0px
}
